.formulario{
    background: royalblue;
    padding: 30px;/* la propiedad padding trabaja en orden segun las agujas del reloj iniciando desde arriba y terminando en la izquierda por medio de 4 valores top, right, bottom y left... igalmente un valor afecta los 4 lados y dos valores afectan vertical y horizontal*/ 
}

.formulario_input {
    padding: 6px 10px;
    width: 90%;
background: black;
color: royalblue;
margin: 2px;
}

.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: royalblue;
    color: white;
    width: 50%;
}

