body {
    background-color: black;
    font-family: sans-serif;
    color: white;

}

.card {
    background: rgb(17, 91, 109);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    font-size: 22px;
    padding-top: 10px;
    margin: 0;
}

h2 {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

p {
    font-size: 9px;
    padding: 20px;
    background-color: rgb(42, 61, 208);
    text-align: justify;

}