P {
    COLOR: blue;
    font-family: Megan;
    font-size: 18px;
    font-weight:400;
    font-style: italic;
    text-align: left;
    text-decoration:underline;
    line-height: 2;
    letter-spacing: 1px;
    
}
span {
    color:green;
    text-decoration: line-through;

}