P {
    COLOR: RED;
    font-family: montserrat;
    font-size: 18px;
    font-weight: ;
    text-align: left;
    text-decoration:underline;
    line-height: 2;
    letter-spacing: 1px;
    
}
span {
    color: gold;
    text-decoration: line-through;

}